<!DOCTYPE html>
<html>
<head>
	<title>CalcWalkingSum</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- angular1.x -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<!-- jQuery(BootstrapDependent) -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- TODO 必要が有れば外部CSSへ -->
	<style type="text/css">#map { width: 100%; height: 350px; } input.ng-invalid.ng-dirty { border-color: red; } </style>

	<script src="./assets/js/app.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyDXSIK3UysFNfnW481qJbY3Cq9HIfSAypQ&callback=initMap" async defer></script>
</head>
<body>


<div class="container" ng-app="mapApp" ng-controller="mapCtrl">

  <div class="page-header">
    <h1>Walking Route</h1>
  </div>

  <div class="table-responsive">
  <table class="container table table-striped table-bordered table-condensed" ng-if="isNotEmptyArr(places)">
    <thead></thead>
      <th>出発地</th>
      <th>距離</th>
      <th>時間</th>
      <th>消費カロリー</th>
      <th>目的地</th>
    <tbody>
      <tr ng-repeat="place in places track by $index" ng-hide="$last">
        <td><a href="" ng-click="deletePlaceAndRewriteMap($index)">{{place}}</a></td>
        <td>{{discriptions[$index].distance}}</td>
        <td>{{discriptions[$index].duration}}</td>
        <td>{{discriptions[$index].distanceVal | kCal}}</td>
        <td><a href="" ng-click="deletePlaceAndRewriteMap($index+1)">{{places[$index+1]}}</a></td></td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="jumbotron">

    <form name="from-to_input" class="form-inline" style="margin-bottom: 15px;" ng-submit="writeMap(true)">
      <div class="form-group" ng-hide="isNotEmptyArr(places)">
        <label for="InputFrom" class="sr-only">From</label>
        <input id="input-from"
               name="input-from"
               type="text"
               class="form-control"
               placeholder="出発地"
               required
               ng-model="fromPlace"
               ng-minlength="1"
               ng-maxlength="100">
      </div>
      <div class="form-group">
        <label for="InputTo" class="sr-only">To</label>
        <input id="input-to"
               name="input-to"
               nype="text"
               class="form-control"
               placeholder="目的地"
               required
               ng-model="toPlace"
               ng-minlength="1"
               ng-maxlength="100">
      </div>
      <button id="search" type="submit" class="btn btn-primary" action="#">検索</button>
    </form>

    <div class="jumbotron" style="background-color: #dcdcdc;">
      <div id="map"></div>
    </div>
  </div>

</div>

</body>
</html>
